{% extends "admin/home.html" %}
{% block section %}
    <h3>Popular Devices</h3>
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th scope="col" class="col-md-4">Device Name</th>
            <th scope="col" class="col-md-4">Borrow counts</th>
        </tr>
        </thead>
        <tbody>
        {% for device in popular_devices %}
            <tr>
                <td scope="col" class="col-md-4">{{ device[0] }}</td>
                <td scope="col" class="col-md-4">{{ device[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}