{% extends "admin/home.html" %}
{% block section %}

<div class="w-75 px-5 py-2 mx-auto mt-4">
  <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Edit User Info</h4>
      {% if userdetails %}
      <form action="/admin/user/update" method="POST" class="needs-validation"
      novalidate>
      {% else %}
      <form action="/user_list" method="POST">
      {% endif %}
      
          {% if userdetails %}

          {% endif %}

      <div class="row g-3">
        <div class="col-sm-6">  
          <label for="Users_name" class="form-label">Username</label>
          <input type="text" class="form-control" id="Users_name" name="Users_name" value="{{userdetails[0]}}" readonly>
            <!-- <div class="valid-input">
              Looks good!
            </div> <br> -->
        </div>
          
        <div class="col-sm-6">
          <label for="Phone" class="form-label">Phone</label> 
          <input type="text" class="form-control required" id="Phone" name="Phone"
                pattern='^[0][1-9]\d{9}$|^[1-9]\d{9}$'2
                placeholder="02793388111" {% if userdetails %} value="{{userdetails[1]}}" {% endif %} required>
            <div class="invalid-input" style="color:#dc3545" hidden>
              Please enter your New Zealand phone number 10-12 digit.
            </div> <br>
        </div>

        <div class="col-sm-6">
          <label for="Email" class="form-label">Email</label> 
          <input type="email" class="form-control required" id="Email" placeholder="xx@example.co.nz" name="Email" {% if userdetails %} value="{{userdetails[2]}}" {% endif %} 
            required="required"> 
            <div class="invalid-input" style="color:#dc3545" hidden>
              Please enter a valid email address.
            </div> <br>
        </div>
      
        <div class="col-sm-6">
          <label for="Location" class="form-label">Location</label>
          <select id="Location" class="form-select"name="Location" class="form-select">
          <!-- <option>No office location selected</option> -->

          {% for office in locations %}
            {%if office[0] == userdetails[4]%}
             <option value="{{office[0]}}" selected="selected">{{office[0]}}</option>
            {% else %}
              <option value="{{office[0]}}">{{office[0]}}</option>   
            {% endif %}
          {% endfor %}
          </select>
            <!-- <div class="invalid-input">
              Please choose a office location.
            </div> <br> -->
        </div>
      </div>

      <div class="row g-3">
        <div class="col-sm-6">
          <p>Role</p>
          <div class="form-check">
          <input class="form-check-input" type="radio" id="Role" name="Role" value="0"checked {% if userdetails %} value="{{userdetails[0][3]}}" {% endif %}/>
          <label class="form-check-label" for="User">User</label> <br>
          <input class="form-check-input" type="radio" id="Role" name="Role" value="1" {% if userdetails %} value="{{userdetails[0][3]}}" {% endif %}/>
          <label class="form-check-label" for="Admin">Admin</label>
          </div> <br>
        </div>

        <div class="col-sm-6">
          <p>Status</p>
          <div class="form-check">
          <input class="form-check-input" type="radio" id="Status" name="Status" value="1"checked {% if userdetails %} value="{{userdetails[0][5]}}" {% endif %}/>
          <label class="form-check-label" for="Active">Active</label> <br>

          <input class="form-check-input" type="radio" id="Status" name="Status" value="0" {% if userdetails %} value="{{userdetails[0][5]}}" {% endif %}/>
          <label class="form-check-label" for="Inactive">Inactive</label>
          </div> <br>
        </div>
      </div>
        
          <button class="w-100 btn btn-primary btn-lg" type="submit">Update</button>
          <button class="w-100 btn btn-secondary btn-lg" type="reset">Reset</button>
      </form>
  </div>
</div>

{% endblock %}